body{
    background-color: black;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 16px;
    color: white;
    

}
header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(65, 219, 124);
}
.center{
    text-align: center;
}
.sobrem{
    text-align: center;
}
footer img{
    width: 40px;
    height: 40px ;
}
footer{
    display: flex;
    justify-content: center;
}
footer a{
    margin: 20px;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    color:white;
}
footer p{
    margin-top: 2px;
}
.titulo{
    text-align: center;

}
.container{
    padding: 0px 50px;
}
nav a:hover{
    color: rgb(65, 219, 124);
}
footer a:hover{
    color: rgb(65, 219, 124);
}
nav a{
     list-style-type: none;
    text-decoration: none;
    color: white;
}
